.appWrapper {
  transform: translate(0vw);
  transition-duration: 300ms;
  backface-visibility: hidden;
}

.appWrapper--move {
  transform: translate(-70vw);
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  width: 100vw;
  height: 10vh;
  background-color: #1b1b1b;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-bottom: 2px solid #2a2c2f;
}

.header__list {
  display: none;
  width: 23%;
  /* height: 15vh; */
  justify-content: space-between;
  list-style: none;
}

.header__link__icon {
  width: auto;
  height: 1.3rem;
  padding-right: 4px;
}

.header__list__link {
  display: none;
  align-items: center;
  text-decoration: none;
  color: #d7eae3;
  background-color: inherit;
}

.header__button {
  width: 4rem;
  height: 85%;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 1rem;
  color: inherit;
  transition:
    opacity 300ms ease,
    border-color 300ms ease; /* Añadido */
}

.header__button--disabled {
  border: 1px solid transparent;
  color: transparent;
  pointer-events: none; /* Evitar interacción cuando está deshabilitado */
}

.header__button__icon {
  height: 100%;
  width: 100%;
}

@media (min-width: 900px) {
  .appWrapper--move {
    transform: translate(-30vw);
  }
}

@media (min-width: 1200px) {
  .appWrapper--move {
    transform: translate(-23vw);
  }

  .header__list {
    display: flex;
  }

  .header__list__link {
    display: flex
  }

  .header__button {
    display: none;
  }
}
