.topbar {
  width: 100vw;
  height: 20vh;
  background-color: #1a1b26;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  text-align: center;
  padding: 0 1rem 0 1rem;
}

.playerThumbnail {
  max-width: 20vw;
  display: grid;
  place-items: center;
}

.playerThumbnail__nickname {
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
}

.playerThumbnail__picture {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.topbar__vs-text {
  font-size: 3rem;
}

.topbar__resultCounter1 {
  color: #5b99c2;
  font-size: 3rem;
}

.topbar__resultCounter2 {
  color: red;
  font-size: 3rem;
}
