.fightResult {
  width: 100vw;
  height: 35vh;
  margin-bottom: 1rem;
  position: relative;
}

.fightResult__character1Image,
.fightResult__character2Image {
  width: 40%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
}

.fightResult__character1Image {
  left: 0;
}

.fightResult__character2Image {
  transform: scaleX(-1);
  right: 0;
}

.fightBanner {
  width: 100%;
  min-height: 20%;
  padding: 0 1rem 0 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  text-align: center;
  border: 2px solid #5b99c2;
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(20px);
  background-color: rgba(91, 153, 194, 0.2);
  font-size: 1.5rem;
}

.fightBanner__vs-text {
  font-weight: bold;
}

.fightBanner--defeat {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.2);
}
