.addFight {
  position: sticky;
  bottom: 0;
  width: 100vw;
  height: auto;
  display: grid;
  padding-bottom: 0.5rem;
}

.addFight__button {
  justify-self: center;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  border: none;
}

.addFight__button:active {
  background-color: darkred;
}
