* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  background-color: #1b1b1b;
  width: 100vw;
  height: 100vh;
  /* TODO: Add CSS variables*/
}

.currentRivalFights {
  display: grid;
  grid-template-columns: 1;
  gap: 2rem;
  margin: 2rem 0 2rem 0;
}
