* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  background-color: #1b1b1b;
  width: 100vw;
  height: 100vh;
  /* TODO: Add CSS variables*/
}

.currentRivalFights {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 2rem 0 2rem 0;
}

@media (min-width: 500px) {
  .currentRivalFights {
    grid-template-columns: 1fr 1fr;
  }
  .form,
  .currentRival__select {
    max-width: 400px;
  }

  /* For styling the form component when is the direct child of the appWrapper component */
  .appWrapper>.form {
    max-width: 100vw;
    width: 100vw;
    border: none;
  }
}

@media (min-width: 800px) {
  .currentRivalFights {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .currentRivalFights {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
