.profileHeader {
  background-color: #2f2f2f;
}

.quickInfo {
  width: auto;
  height: 18vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.quickInfo__image {
  width: 5.5rem;
  height: 5.5rem;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.quickInfo__nickname {
  font-size: 1.6rem;
  font-weight: bold;
  overflow-x: scroll;
  max-width: 35vw;
}

.quickInfo__edit {
  display: grid;
  place-items: center;
  width: 3.5rem;
  color: white;
  padding: 8px;
  border: 2px solid white;
  border-radius: 1rem;
}

@media (min-width: 800px) {
  .profileHeader {
    display: grid;
    place-items: center;
  }
  .quickInfo {
    width: 520px;
  }
}
