.history,
.container {
  display: grid;
  place-items: center;
}

.container__title {
  font-size: 2rem;
}

.history__date {
  font-size: 1.4rem;
}

.fightList {
  display: grid;
  place-items: center;
  gap: 2rem;
  padding: 0;
}

.fightItem {
  list-style: none;
  border: 2px solid white;
  border-radius: 2rem;
  width: 90vw;
  padding: 1.5rem;
}

.fightItem__thumbnailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.fightItem__thumbnail {
  display: grid;
  place-items: center;
}

.resultContainer {
  display: grid;
  place-items: center;
}

.fightItem__playerNickname,
.fightItem__rivalNickname,
.resultContainer__result {
  font-size: 1rem;
  font-weight: bold;
}

.resultContainer__result {
  font-weight: bolder;
}

.fightItem__playerImage,
.fightItem__rivalImage {
  width: 6rem;
  height: 6rem;
  border: 2px solid white;
  border-radius: 50%;
}

.deleteFight {
  background-color: inherit;
  border: none;
  width: 3rem;
  height: 3rem;
  color: white;
}

@media (min-width: 500px) {
  .fightItem {
    width: 450px;
  }
}

@media (min-width: 800px) {
  .fightList {
    grid-template-columns: 1fr 1fr;
  }
  .fightItem {
    width: 350px;
  }
}

@media (min-width: 1200px) {
  .fightList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
