.navbar {
  position: fixed;
  /*right: 0;*/
  width: 70vw;
  right: -70vw;
  height: 100vh;
  background-color: #1d1e20;
  /*background-color: #040d12;*/
  display: flex;
  padding: 1rem;
  flex-direction: column;
  /*justify-content: space-around;*/
  z-index: 1;
  top: 0px;
  left: auto;
  /*transform: translate(-300px);*/
  transform: translate(0vw);
  transition-duration: 300ms;
  backface-visibility: hidden;
}

.navbar--show {
  transform: translate(-70vw);
}

.navbar__link,
.navbar__button {
  width: auto;
  height: 4.7rem;
  justify-content: start;
  text-decoration: none;
  color: #d7eae3;
  background-color: inherit;
  /*background-color: #183d3d;*/
  /*border: 2px solid #5c8374;*/
  padding: 1.5rem;
  border-radius: 1rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  border: none;
}

.navbar__button {
  height: 7rem;
  justify-content: center;
}

.navbar__link:hover {
  background-color: #2a2c2f;
}

.navbar__link__text {
  padding-left: 1rem;
}

.navbar__link__icon {
  height: 100%;
  width: auto;
}

@media (min-width: 900px) {
  .navbar--show {
    transform: translate(-30vw);
  }
  .navbar {
    width: 30vw;
    right: -30vw;
  }
}

@media (min-width: 1200px) {
  .navbar--show {
    transform: translate(-23vw);
  }
  .navbar {
    width: 23vw;
    right: -23vw;
  }
}
