.form {
  width: 85vw;
  height: 85vh;
  background-color: #191919;
  color: white;
  display: grid;
  place-items: center;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem 0 1rem 0;
  font-size: 1.2rem;
  text-align: center;
}

.form__label {
  font-weight: bold;
}

.form__select,
.form__button {
  background-color: #2f2f2f;
  width: 11rem;
  text-align: center;
  color: white;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid whitesmoke;
  font-weight: bolder;
}

.form__character2Image,
.form__character1Image {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  object-fit: cover;
}

.form__character2Image {
  transform: scaleX(-1);
}

.form__button--cancel {
  background-color: #311111;
  border-color: #803131;
}

.form__checkbox {
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor; /* use currentColor for color inheritance */
  border-radius: 0.15em;
}
