body {
  margin: 0;
  color: white;
  background-color: #1b1b1b;
  /* TODO: Add box-sizing: border-box to the whole app (using * selector), and CSS variables*/
}

main {
  display: grid;
  grid-template-columns: 1;
  gap: 2rem;
  margin: 2rem 0 2rem 0;
}
